@import "tailwindcss";

:root {
  --azul-oscuro: #28347c;
  --azul-marino: #2b4c9c;
  --naranja: #ee742f;
  --negro: #333333;
  --gris: #666666;
  --blanco: #fafafa;
  --blanco-azul: #e8f4fb;
}

body {
  background-color: var(--blanco);
  color: var(--negro);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
}

.gradient-firma {
  background: linear-gradient(50deg, #2b4c9c, #28347c);
}
